html, body {
    margin: 0%;
    width: 100%;
}

body {
    background-color: rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

html {
    /* overflow: hidden; */
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 6px;
}


* {
    color: white;
    font-family: Arial, sans-serif;
    user-select: none;
}

#con {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
}

#nav {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    padding-left: 20px;
    padding-right: 5px;
    box-sizing: border-box;
    background-color: black;
    mix-blend-mode: difference;
    position: absolute;
}

.navlink {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.navlink>div {
    padding-top: 5px;
}

.underline {
    height: 5px;
    width: 0px;
    background-color: white;
    transition: all .3s ease;
}

.navlink:hover .underline {
    width: 100%;
}

.navp {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 100%;
    aspect-ratio: 1 / 1;
    transition: all .3s ease;
}

#logo:hover {
    transform: scale(1.1);
}


#mainL {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2 !important;
}

#home-header {
    font-size: 50px;
    height: fit-content;
    width: fit-content;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
}

#home-header span {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

#sub-header {
    font-size: 20px;
    display: flex;
    gap: 5px;
}

#sub-header hr {
    flex: 1;
    height: 0px;
    border: solid rgb(255, 255, 255) 1px;
}

.move {
    opacity: 0;
    position: absolute;
    top: 70px;
}

#mainCon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
    font-size: 30px;
    z-index: 1;
}

@keyframes showUp {
    0% {
        top: 70px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

#cv {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
}

#fix {
    position: fixed;
    bottom: 20%;
}

#fix svg {
    transition: all .3s ease;
}

#about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about * {
    color: #000;
}

.showAbout svg {
    opacity: 0;
}

#aboutTxt {
    font-size: 30px;
    height: 200px;
    width: 45%;
    text-align: center;
}

#aboutTxt>span {
    overflow: hidden;
    display: inline-block;
}

#aboutTxt span span {
    position: relative;
    top: 70px;
    opacity: 0;
}

#about h1 {
    opacity: 0;
}

.showAbout {
    animation: showAbout 1s forwards;
}

@keyframes showAbout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@media (max-width: 600px) {
    #aboutTxt {
        width: 90%;
    }
}

#skillHead {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
}

#skillHead h1 {
    opacity: 0;
    font-size: 15vh;
    transition: all 1s ease;
    letter-spacing: 200px;
    white-space: nowrap;
    margin: 0%;
    height: fit-content;
}

.runText {
    height: fit-content;
    width: 100%;
    transition: all 1s ease;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;
}

.runText span {
    font-size: 10vh;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

#bot {
    text-align:right;
    /* transform: translate(500px, 0px); */
}

#skill {
    height: 100vh;
    width: 100%;
}

#animation {
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
    overflow: hidden;
}

.jump {
    height: 10px;
    width: 30%;
    background-color: rgb(0, 0, 0);
    bottom: 100px;
}

#left {
    position: absolute;
    transform: rotateZ(30deg);
}

#right {
    position: absolute;
    transform: rotateZ(-30deg);
    right: 10px;
}

#spin {
    width: 20%;
    bottom: 0px;
    left: calc(50% - 20% / 2);
    position: absolute;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.obs {
    position: absolute;
    top: -100px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /* transition: all .3s ease; */
    background-color: rgb(0, 0, 0);
}