html, body {
    margin: 0%;
    width: 100%;
}

body {
    background-color: rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

html {
    /* overflow: hidden; */
}

* {
    color: white;
    font-family: Arial, sans-serif;
}

#con {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    z-index: 2;
}

#nav {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
    z-index: 10;
    padding-left: 20px;
    padding-right: 5px;
    box-sizing: border-box;
}

.navlink {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.navlink>div {
    padding-top: 5px;
}

.underline {
    height: 5px;
    width: 0px;
    background-color: white;
    transition: all .3s ease;
}

.navlink:hover .underline {
    width: 100%;
}

.navp {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 100%;
    aspect-ratio: 1 / 1;
    transition: all .3s ease;
}

#logo:hover {
    transform: scale(1.1);
}


#mainL {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2 !important;
}

#home-header {
    font-size: 50px;
    height: fit-content;
    width: fit-content;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
}

#home-header span {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

#sub-header {
    font-size: 20px;
    display: flex;
    gap: 5px;
}

#sub-header hr {
    flex: 1;
    height: 0px;
    border: solid rgb(255, 255, 255) 1px;
}

.move {
    opacity: 0;
    position: absolute;
    top: 70px;
}

#mainCon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
    font-size: 30px;
    z-index: 1;
}

@keyframes showUp {
    0% {
        top: 70px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

#cv {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
}

#fix {
    position: fixed;
    bottom: 20%;
}

#fix svg {
    transition: all .3s ease;
}

#about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about * {
    color: #000;
}

.showAbout svg {
    opacity: 0;
}

#aboutTxt {
    font-size: 30px;
    height: 200px;
    width: 45%;
    text-align: center;
}



@media (max-width: 600px) {
    #aboutTxt {
        width: 90%;
    }
}