html, body {
    margin: 0%;
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

html {
    /* overflow: hidden; */
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 6px;
}


* {
    color: white;
    font-family: Arial, sans-serif;
    user-select: none;
}

#con {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#nav {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 5px;
    box-sizing: border-box;
    background-color: black;
    mix-blend-mode: difference;
    position: absolute;
}

.navlink {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.navlink>div {
    padding-top: 5px;
}

.underline {
    height: 5px;
    width: 0px;
    background-color: white;
    transition: all .3s ease;
}

.navlink:hover .underline {
    width: 100%;
}

.navp {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 100%;
    aspect-ratio: 1 / 1;
    transition: all .3s ease;
}

#logo:hover {
    transform: scale(1.1);
}


#mainL {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-header {
    font-size: 50px;
    height: fit-content;
    width: fit-content;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
}

#home-header span {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

#sub-header {
    font-size: 20px;
    display: flex;
    gap: 5px;
}

#sub-header hr {
    flex: 1;
    height: 0px;
    border: solid rgb(255, 255, 255) 1px;
}

.move {
    opacity: 0;
    position: absolute;
    top: 70px;
}

#mainCon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
    font-size: 30px;
}

@keyframes showUp {
    0% {
        top: 70px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

#cv {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

#fix {
    position: fixed;
    bottom: 20%;
}

#fix svg {
    transition: all .3s ease;
}

#about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about * {
    color: #000;
}

.showAbout svg {
    opacity: 0;
}

#aboutTxt {
    font-size: 30px;
    height: 200px;
    width: 45%;
    text-align: center;
}

#aboutTxt>span {
    overflow: hidden;
    display: inline-block;
}

#aboutTxt span span {
    position: relative;
    top: 70px;
    opacity: 0;
}

#about h1 {
    opacity: 0;
}

.showAbout {
    animation: showAbout 1s forwards;
}

@keyframes showAbout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@media (max-width: 600px) {
    #aboutTxt {
        width: 90%;
    }
}

#skillHead {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skillHead>div {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skillHead h1 {
    opacity: 0;
    font-size: 15vh;
    transition: all 1s ease;
    letter-spacing: 200px;
    white-space: nowrap;
    height: fit-content;
    margin: 0%;
    /* animation: letterspace .3s ease forwards;
    animation-timeline: view(); */
}

@keyframes letterspace {
    0% {
        letter-spacing: 200px;
        opacity: 0;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

.runText {
    height: fit-content;
    width: 100%;
    transition: all 1s ease;
    box-sizing: border-box;
    justify-content: left;
    display: flex;
    /* opacity: 0; */
}

.runText span {
    font-size: 10vh;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

#skillHead>div :nth-child(3) {
    justify-content: right;
}

/* @media (max-width:570px) {
    #skillHead {
        flex-direction: column;
    }
} */

#skill {
    --cirsize:40vh;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, var(--cirsize) 1fr);
    grid-template-rows: 1fr var(--cirsize) 1fr;
}

#skill :nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
}

.item {
    display: flex;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    overflow:visible;
    position: relative;
}

.vline {
    --line-ani: 0%;
    height: 100%;
    width: 2px;
    background: linear-gradient(0deg, white, black);
    -webkit-mask:linear-gradient(180deg, white 0%, white var(--line-ani), transparent var(--inv-line-ani), transparent 100%);
    mask: linear-gradient(180deg, white 0%, white var(--line-ani), transparent var(--line-ani), transparent 100%);
}

.hline {
    --line-ani: 0%;
    --line-agl: 90deg;
    height: 2px;
    width: 100%;
    background-color: white;
    -webkit-mask:linear-gradient(var(--line-agl), white 0%, white var(--line-ani), transparent var(--inv-line-ani), transparent 100%);
    mask: linear-gradient(var(--line-agl), white 0%, white var(--line-ani), transparent var(--line-ani), transparent 100%);
}

.f {
    background: linear-gradient(-90deg, white, black);
}

.left {
    --line-agl: 270deg;
}

.right {
    --line-agl: 90deg;
}

.l {
    background: linear-gradient(90deg, white, black);
}

@property --cur-agl {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --inv-cur-agl {
  syntax: '<angle>';
  initial-value: 360deg;
  inherits: false;
}

@property --line-ani {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

.cir {
    height: 100%;
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    -webkit-mask:conic-gradient(
        white var(--cur-agl), 
        rgba(255, 255, 255, 0) var(--cur-agl) var(--inv-cur-agl), 
        white var(--inv-cur-agl) 360deg
    );
    mask:conic-gradient(
        white var(--cur-agl), 
        rgba(0, 0, 0, 0) var(--cur-agl) var(--inv-cur-agl), 
        white var(--inv-cur-agl) 360deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.cir.f {
    transform: rotate(90deg);
    background: none;
}

.cir.l {
    transform: rotate(-90deg);
    background: none;

}

:root {
    --vline-ani-time:.3s;
    --cir-ani-time:.3s;
    --hline-ani-time:.3s;
}

.trigger .vline {
    animation: aniLine var(--vline-ani-time) linear forwards;
}

.trigger .cir.mid {
    animation: aniCir var(--cir-ani-time) linear forwards var(--vline-ani-time);
}

.trigger .line.hline {
    animation: aniLine var(--hline-ani-time) linear forwards calc(var(--vline-ani-time) + var(--cir-ani-time) / 2);
}

.trigger .cir {
    animation: aniCir var(--cir-ani-time) linear forwards calc(var(--vline-ani-time) + var(--cir-ani-time) / 2 + var(--hline-ani-time));
}

.trigger :is(.line.hline.f, .line.hline.l) {
    animation: aniLine var(--hline-ani-time) linear forwards calc(var(--vline-ani-time) + var(--cir-ani-time) / 2 + var(--hline-ani-time) + var(--cir-ani-time));
}

@keyframes aniLine {
    0% {
        --line-ani: 0%;
    }
    100% {
        --line-ani: 100%;
    }
}

@keyframes aniCir {
    0% {
        --cur-agl: 0deg;
        --inv-cur-agl: 360deg;
    }
    100% {
        --cur-agl: 180deg;
        --inv-cur-agl: 180deg;
    }
}

.card {
    height: 80%;
    aspect-ratio: 1 / 2;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    position: absolute;
    transition: transform .5s ease;
    /* transition: height .5s ease; */
    z-index: 1;
}

.back {
    --border-size: 5px;
    --border-radi: 10px;
    --color: rgb(255, 255, 255);
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
    border: var(--border-size) solid var(--color);
    border-radius: var(--border-radi);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --show {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

.back::before {
    --show: 0%;
    content: "";
    background-color: var(--color);
    border-radius: var(--border-radi);
    width: calc(100% + var(--border-size));
    height: calc(100% + var(--border-size));
    position: absolute;
    z-index: 2;
    -webkit-mask: radial-gradient(circle, transparent 0%, transparent var(--show), var(--color) var(--show), var(--color) 120%);
    mask: radial-gradient(circle, transparent 0%, transparent var(--show), var(--color) var(--show), var(--color) 120%);
    transition: --show .3s ease;
}

.card:hover {
    /* height: 100%; */
    transform: scale(1.2);
}

.card:hover .back::before {
    --show: 120%;
}

.trigger .card {
    animation: showCard .5s ease calc(var(--vline-ani-time) + var(--cir-ani-time) / 2 + var(--hline-ani-time) + var(--cir-ani-time)) forwards;
}

@keyframes showCard {
    0% {
        opacity: 0;
        /* transform: scale(.8); */
        height: 80%;
    }
    100% {
        opacity: 1;
        /* transform: scale(1); */
        height: 100%;
    }
}